{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>show</title>
</head>
<body>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Query</th>
            </tr>
        </thead>
        {% for form in form %}
        <tbody>
            <tr>
                <td>{{form.name}}</td>
                <td>{{form.email}}</td>
                <td>{{form.query}}</td>
            </tr>
        </tbody>

        {% endfor %}
    </table>

    
</body>
</html>